@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0B0C10;
  color: white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background: rgba(0,255,255,0.2);
  color: white;
}
